
# Ignore IDEs and Editor files  
*.idea/  
*.vscode/  
*.sublime-workspace  
*.sublime-project  

# Ignore build directories  
**/build/
**/target/  
**/dist/
# Ignore logs  
*.log  
/user/property(org.gradle.api.file.Directory, fixed(class org.gradle.api.internal.file.DefaultFilePropertyFactory$FixedDirectory, /
